/*.section-banner .banner-image{*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*  height: 80vh;*/
/*  width: 100%;*/
/*}*/
.section-banner{

}
.section-banner .container{
  position: relative;
}
.section-banner .banner-content{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
}
.section-banner .banner-content h1{
  color: white;
}
.section-banner .banner-image{
  object-fit: cover;
  object-position: center;
  height: 80vh;
  width: 100%;
}
